.test1 {
  background-color: rgba(255, 0, 0, 0.604);
  border: 1px solid black;
}

.test2 {
  background-color: rgba(123, 255, 0, 0.604);
  border: 1px solid black;
}

.test3 {
  background-color: rgba(0, 98, 255, 0.603);
  border: 1px solid black;
}

.altezza-test {
  min-height: 900px;
}

.my-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 200px) {
    width: 100%;
  }

  @media (min-width: 576px) {
    max-width: 95%;
  }

  @media (min-width: 768px) {
    max-width: 90%;
  }

  @media (min-width: 992px) {
    max-width: 85%;
  }

  @media (min-width: 1200px) {
    max-width: 80%;
  }

  @media (min-width: 1400px) {
    max-width: 75%;
  }
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
